/* General */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main {
    padding-top: 65px;
}

.container {
    padding: 0px 50px;
}

.button {
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    background-color: #ffffff;
    color: #3c3c3c;
    margin: 10px 5px;
    box-shadow: 0px 1px 3px 0px #4c4c4c;
}

.button:hover {
    background-color: #eeeeee;
}

/* Landing Section */

.landing {
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    background-color: #E1EFF7;
}

.landing .middle {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

.landing h1 {
    margin: 5px 0;
}

.landing h1 small {
    font-size: 0.7em;
}

.landing img {
    width: 100%;
}

/* Navbar */
.navbar {
    position: fixed;
    background-color: #E1EFF7;
    width: 100%;
    box-shadow: 0px 1px 3px 0px #bbbbbb;
}

.navbar-container {
    margin: 10px 15px;
    text-align: center;
}

.navbar-container .logo {
    display: inline-block;
    height: 45px;
    width: 30px;
    vertical-align: middle;
    transition: 0.3s;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../img/logo.svg);
}

.logo:hover {
    background-image: url(../img/name.svg);
    width: 176px;
}

.menu {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}

.menu li {
    display: inline;
    margin: 0;
}

.menu li a {
    text-decoration: none;
    padding: 24px;
    color: #000000;
}

.menu li a:hover, .menu li a.active {
    background-color: #ffffff;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: #E1EFF7;
}